* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

#container {
    display: flex;
    min-height: 100vh;
    background: rgba(68, 117, 136, 0.539);
}

.card_header {

}

.card_text {

}